<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h1>Welcome, <%= username %> back to the site!</h1>
    <a href="/story/1">story 1</a>
    <a href="/story/2">story 2</a>
    <a href="/story/3">story 3</a>
    <br />
    <a href="/statement">Download your statement</a>
    <p><a href="/logout">Logout</a></p>
</div>
</div>