<h1>HBS Rendered file!</h1>

Your message is: {{msg2}} !!!!

{{{html}}}

{{!-- Country name: {{country.name}}
Country capital: {{country.capital}} --}}

{{!-- each, if, unless --}}
{{#each countries}}
    {{#unless this.western}}
        {{> countries}}
    {{/unless}}
{{/each}}