<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/formsub" enctype="multipart/form-data">
      <input type="text" placeholder="filename" name="desc" />
      <input type="file" name="meme"/>
      <input type="submit" value="submit" />
    </form>
    
    <form method="post" action="/formsubarray" enctype="multipart/form-data">
      <input type="text" placeholder="filename" name="desc" />
      <input type="file" name="meme"/>
      <input type="file" name="meme"/>
      <input type="submit" value="submit" />
    </form>


  </body>
</html>
