<!DOCTYPE html>
<html>
<head>
	<title>	Movie App </title>
	<% include head %>
</head>
<body>

	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1></h1>
			</div>
				<div class="col-sm-12">
	 
			</div>
		</div>
	</div>
</body>
</html>