<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>	Movie App </title>
	<% include head %>
</head>
<body ng-controller="myController">

	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1></h1>
			</div>
			<div class="col-sm-12">
				
				
			</div>
		</div>
	</div>
</body>
</html>
